@use 'base/variables' as v;
@use 'base/mixins' as m;

.planes{
    background-color: v.$secundario;
    &__heading{
        @include m.headingBorder(v.$blanco, v.$primario);
    }
    &__descripcion{
        color: v.$blanco;
    }
}
.plan{
    display: flex;
    flex-direction: column;

    @include m.tablet { 
        flex-direction: row;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-start: 10rem;
    } 
    &__inicio,
    &__negocio,
    &__pro{
        background-color: v.$blanco;
        padding: 16rem 2rem 3rem 2rem;
        border-bottom: 1px solid #e1e1e1;
        flex-grow: 1;
        @include m.tablet { 
            border: none;
            transition-property: transform;
            transition-duration: 300ms;
            &:hover{
                transform: scale(1.1);
            }
        }
        @include m.desktop { 
        padding: 16rem 4rem 4rem 4rem;
            
        }
    }
    &__negocio{
        order: -1;
        background-color: v.$primario;
        @include m.tablet { 
            order: unset;
            margin: -5rem 0;
            border-radius: 2rem;
            background-position: 50% 7rem;
            padding-top: calc(16rem + 5rem);
            z-index: 100;
        }
        @include m.iconoBg('../img/icono_negocio.svg');
    }
    
    &__inicio{
        @include m.iconoBg('../img/icono_inicio.svg');
    }
    
    &__pro{
        @include m.iconoBg('../img/icono_pro.svg')
    }
    
    &__precio{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__listado{
        li{
            text-align: center;
            margin-bottom: 2rem;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

}